.about {
	width: 1200px;
	margin: 24px auto;
	padding: 24px;
	background-color: #FFF;
	box-shadow: 0 1px 2px rgba($black,.2);
	border-top: 3px solid $secondary-color;
	border-radius: 3px;
	h2 {
		font-size: 1.6em;
		margin-bottom: 12px;
	}
	h3 {
		clear: both;
		margin-top: 24px;
		font-size: 1.3em;
		line-height: 1.3em;
		&:before{
			content: "";
			display: inline-block;
			margin-right: 0.5em;
			width: 0.4em;
			height: 0.4em;
			background-color: #f2711c;
			transform: rotate(45deg) translateY(-0.25em);
		}
	}
	img {
		float: left;
		margin: 16px;
		max-width: calc(100% - 48px);
		box-shadow: 0 2px 4px rgba($black, .2);
	}
	p {
		line-height: 1.2em;
		margin: 8px 0;
	}
}

@include mq(sp){
}