.characters {
	margin-top: 48px;
	background: url("images/common/stripe.png");
	background-size: 177px 151px;
	box-shadow: 0 2px 4px rgba($black, .2);
	overflow-x: hidden;

	> .container {
		margin: 0 auto ;
		padding: 48px 0 72px;
		position: relative;
	}

	p {
		position: relative;
		margin: 24px 0;
		font-size: 1.4em;
		line-height: 1.6em;
		text-shadow: 0 1px 2px rgba(0,0,0,.1);
		span {
			display: inline-block;
		}
	}
	.emphasized {
		font-size: 120%;
		font-weight: bold;
		text-shadow: 0 3px 6px rgba(0,0,0,.2);
	}

	h3 {
		position: relative;
		font-size: 3em;
		margin-top: 48px;
		margin-left: -20px;
		text-shadow: 0 3px 6px rgba(0,0,0,.2);
		span {
			display: inline-block;
		}
	}

	.and-so-on {
		clear: both;
		text-align: center;
		font-size: 2em;
		padding-top: 48px;
		font-weight: bold;
		p {	
			display: inline-block;
			transform: translateX(2%);
			text-shadow: 0 3px 6px rgba($black, .2);
		}
	}
}

.character {
	clear: both;
}

.characters-image {
	float: right;
	position: relative;

	&.eclair {
		transform: translateX(-36%);
	}
}

@include mq(pc-narrow){
	.characters {
		h3 {
			margin-left: 0;
		}
	}
}
@include mq(tl){
	.characters {
		h3 {
			margin-left: 0;
		}
	}
	.characters-image {
		&.eclair {
			transform: translateX(0);
		}
	}
}
@include mq(sp){
	.characters {
		margin-top: 0;
		overflow-x: visible;//hiddenだとstickyしなくなるクソバグ早く治せ
		p {
			font-size: 1.2em;
		}
		h3 {
			margin-left: 0;
		}
	}
	.characters-image {
		float: none;
		display: block;
		margin: 24px auto;
		height: 320px;
		&.eclair {
			transform: translateX(0);
		}
	}
}
