.navigation-wrapper {
	position: relative;
}

.navigation {
	position: sticky;
	top:0;
	width: 100%;
	height: 80px;
	background-color: $eclair-orange;
	box-shadow: 0px 4px 8px rgba($black, .16);
	overflow: hidden;

	> .container-wide {
		height: 100%;
	}

	ul {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		height: 100%;
		li {
			position: relative;
			font-size: 2em;
			text-shadow: 0 1px 2px rgba($black, .3);
			text-align: center;
			&:after {//border
				content: "";
				display: block;
				margin: 8px 0;
				width: 1px;
				height: calc(100% - 16px);
				background-color: rgba($white, .5);
				position: absolute;
				right: 0;
				top: 0;
			}
			&:last-child:after {
				width: 0;
			}

			&.active a {
				background-color: $white;
				color: $eclair-orange;
				box-shadow: 0 0 0 8px $eclair-yellow inset;
			}

			a {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				height: 100%;
				color: $white;
				text-decoration: none;
				font-weight: bold;
				transition: box-shadow 0.4s, all 0.1s;
				&:hover {
					background-color: $eclair-orange-light;
					color: $white;//activeなやつをhoverしたとき用
				}
			}
			span {
				display: inline-block;
				margin: 0.1em 0;
			}
		}
	}
}

.nav-top {
	width: 80px;
	img {
		height: 64px;
	}
}

.nav-about {
	flex: 5;
}

.nav-character {
	flex: 4;
}

.nav-gallery {
	flex: 3;
}

.nav-download {
	flex: 5;
}

.toolbar-mobile {
	display: none;
}
.hamburger-mobile {
	display: none;
}

@include mq(pc-narrow){
	.nav-about,
	.nav-character,
	.nav-gallery,
	.nav-download {
		flex: 1;
	}

	.navigation ul li {
		font-size: 1.8em;
	}
}
@include mq(tl){
	.navigation ul li {
		font-size: 1.6em;
	}
	.nav-about,
	.nav-character,
	.nav-gallery,
	.nav-download {
		flex: 1;
	}
}
@include mq(sp){
	.navigation-wrapper{
		/*&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			transition: background-color .2s ease-in;
			background-color: rgba($black,.0);
		}
		&.shown-in-mobile:after {
			background-color: rgba($black,.3);
		}*/
	}

	.navigation {
		height: 56px;
		padding: 0;
		transition: height .2s ease-out;
		overflow: hidden;

		&.shown-in-mobile {
			height: 56 * 6px;
		}
	}
	.navigation ul {
		flex-direction: column;

		li {
			height: 56px;
			font-size: 1.4em;
			&:after {
				margin: 0 24px;
				width: calc(100% - 48px);
				height: 1px;
				right: auto;
				top: auto;
				bottom: 0;
			}
			&.nav-top {
				width: 100%;
				a {
					width: 100%;
					&:after {
						content: "トップ";
						margin-right: 24px;
					}
				}
				img {
					height: 48px;
				}
			}
			&:first-child:after {
				width: 0;
			}
		}
	}

	.toolbar-mobile {
		display: block;
	}
	.hamburger-mobile {
		display: block;
		height: 56px;
		margin-bottom: -56px;
		width: 100%;
		line-height: 48px;
		font-size: 2em; 
		position: sticky;
		top: 0;
		color: white;
		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}