<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>激アツ男 ブリオッシュ 公式サイト</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- OGP -->
    <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
	<meta property="og:title" content="激アツ男 ブリオッシュ　公式サイト" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://qpic.jp/pages/eclair/brioche" />
	<meta property="og:image" content="http://qpic.jp/pages/eclair/brioche/images/common/ogp.png" />
	<meta property="og:site_name" content="Qpic" />
	<meta property="og:description" content="エクレアぶちのめし系3Dアクションゲーム「激アツ男 ブリオッシュ」の公式サイトだ。" />
	<!-- TwitterCard -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image" content="http://qpic.jp/pages/eclair/brioche/images/common/ogp.png" />

    <meta name="theme-color" content="#F28446">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <script id="decoration" type="text/x-template">
    	<img :data-src="'images/decoration/' + index + '.svg'" :style="'position: relative; top: '+dy+'px;left:'+dx+'px;'" class="decoration-item" :class="'random-'+rotationPattern">
    </script>
    <script id="decoration-wrapper" type="text/x-template">
    	<div class="decoration-wrapper" :class="{right:side===1, left:side===0}">
    		<decoration></decoration>
    		<decoration></decoration>
    		<decoration></decoration>
    		<decoration></decoration>
    	</div>
    </script>
    <script>
    	var Random = function(min,max) {
  			return Math.floor( Math.random() * (max + 1 - min) ) + min ;
		};
    	//Decoration
		Vue.component('decoration', {
		  data: function (){
		  	return {
    			dx: Random(-144,144),
    			dy: Random(-80,80),
    			rotationPattern: Random(0,3),
    			index: Random(0,2)
    		};
  		  },
		  template: '#decoration'
		});
		Vue.component('decoration-wrapper',{
			props: ['side'],
			template: '#decoration-wrapper'
		});
		//End Decoration
    </script>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NCRJLFG');</script>
	<!-- End Google Tag Manager -->

  </head>
  <body>
	<header class="header">
		<div class="header-container">
			<div class="header-hero">
				<img src="images/header/hero.png" height="560" alt="ブリオッシュ">
			</div>
			<a class="header-qpic" href="http://qpic.jp/"><img src="images/header/qpic.svg" alt="Qpic"></a>
			<h1 class="header-logo"><img src="images/header/logo.png" alt="激アツ男 ブリオッシュ"></h1>
			<div class="header-detail">
				<ul>
					<li>ジャンル: エクレアぶちのめし系3Dアクション</li>
				</ul>
			</div>
			<div class="header-glitch">
				
			</div>
			<div class="header-share">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fqpic.jp%2Feclair&width=72&layout=button&action=like&size=small&show_faces=true&share=false&height=65&appId" width="72" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</div>
			<div class="header-info">
				<a href="https://twitter.com/Eclair_HTL" class="header-banner"> 
					<img src="images/header/Twitter.svg">
				</a>
			</div>
		</div>
	</header>
	<div id="wrapper" class="navigation-wrapper">
		<a class="hamburger-mobile" onclick="toggleNav()"><img src="images/navgation/hamburger.svg" alt="メニュー"></a>
	<nav id="nav" class="navigation" v-bind:class="{'shown-in-mobile': shownInMobile}">
		<div class="container-wide">
			<ul>
				<li v-if="isPhone" class="toolbar-mobile"><a v-on:click="shownInMobile = !shownInMobile">{{currentSectionName}}</a></li>
				<li class="nav-top" v-on:click="shownInMobile = false"><a href="#"><img src="images/navgation/silhouette.svg" alt="トップへ"></a></li>
				<li class="nav-about" v-bind:class="{active: currentSection == 0}" v-on:click="shownInMobile = false"><a href="#about"><span>俺のゲームが</span><span>登場だ！</span></a></li>
				<li class="nav-gallery" :class="{active: currentSection == 1}" v-on:click="shownInMobile = false"><a href="#gallery">ギャラリー</a></li>
				<li class="nav-download" :class="{active: currentSection == 2}" v-on:click="shownInMobile = false"><a href="#download"><span>ダウン</span><span>ロード</span></a></li>
			</ul>
		</div>
	</nav>
	<div id="movie" class="movie">
		<iframe width="800" height="450" src="https://www.youtube.com/embed/3BUzi2uVDGk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div id="about" class="about" v-lazy-container="{ selector: 'img' }">
		<div class="section-header" v-bind:class="{hidden: shownInMobile}" ><h2>俺のゲームが登場だ！</h2></div>
		<div class="container">
			<p>
				<span><b>激アツ男 ブリオッシュ</b>は、</span>
				<span>かのELE-GEARの使い手</span>
				<span class="emphasized">エクレア</span>
				<span>を倒すゲームだ。</span>
			</p>

			<p>
				<span>エクレアを倒すために、</span>
				<span>俺はまず崖の上から</span>
				<span>狙撃することにした。</span>
				<span>倒すなら早い方がいいからな。</span>
				<span>一方的に攻撃して、エクレアの体力を削るんだ。</span>
			</p>

			<p>
				<span>次に待ち構えるのは廃坑の最深部での戦いだ。</span>
				<span>パンチ、火柱、</span>
				<span>グレネード弾、</span>
				<span>そして火炎放射を駆使し、</span>
				<span>エクレアを</span>
				<span>返り討ちにするのだ！！</span>
			</p>

			<img v-if="!isPhone" data-src="images/about/brioche.png" alt="ブリオッシュ" height=640 class="about-eclair">
		</div>
	</div>
	<div id="gallery" class="gallery">
		<h2>ギャラリー</h2>
		<div class="gallery-container">
			<a href="images/gallery/1.png" rel="shadowbox[gallery]"><img src="images/gallery/1.thumb.jpg" alt="BBから見た景色"></a>
			<a href="images/gallery/2.png" rel="shadowbox[gallery]"><img src="images/gallery/2.thumb.jpg" alt="エクレアを狙撃"></a>
			<a href="images/gallery/3.png" rel="shadowbox[gallery]"><img src="images/gallery/3.thumb.jpg" alt="いざ、ボス戦！"></a>
			<a href="images/gallery/4.png" rel="shadowbox[gallery]"><img src="images/gallery/4.thumb.jpg" alt="火炎放射"></a>
		</div>
	</div>
	<div id="download" class="download">
		<p>…</p>
		<h2><span>本当は</span>
			<span>わかっているんだ、</span><br>
			<span>俺のゲームなんて</span>
			<span>存在しないということ…</span>
		</h2>
		<p><span>これは</span>
			<span class="emphasized">エイプリルフール</span>
			<span>とやらの企画なんだ。</span>
		</p>
		<p><span class="emphasized">"ディレクターのN氏"</span>
			<span>を名乗るヤツにそそのかされて…</span>
			<span>『俺のゲームができる』なんてこと、</span>
			<span>考えちまったのさ…</span>
		</p>

		<p>
			<span>だがよ、</span>
			<span>待ってればそのうち</span>
			<span>俺が主人公のゲームも</span>
			<span>できるかもな！</span>
			<span>とりあえず今は、</span>
			<span>俺が"ボス"(!)として登場する</span>
			<span class="emphasized">『電撃少女エクレア』</span>
			<span>を遊んでくれ!!</span>
		</p>
		<a href="http://qpic.jp/pages/eclair/" class="download-button"></a>
	</div>
<!-- 	<div id="member" class="member">
		<h2>制作メンバー</h2>
		<div class="member-inner">
			<dl>
				<dt>なおてぃ</dt>
				<dd>ディレクター・プログラム</dd>
				<dt>つつみん</dt>
				<dd>3Dデザイナー</dd>
				<dt>仮名</dt>
				<dd>3D・レベルデザイナー</dd>
				<dt>□</dt>
				<dd>3Dデザイナー・コンセプトアート</dd>
				<dt>そうたろう</dt>
				<dd>3Dデザイナー</dd>
				<dt>みっつー</dt>
				<dd>プロジェクトマネージャー・広報</dd>
				<dt>わらび</dt>
				<dd>プログラム・UI</dd>
				<dt>wararyo</dt>
				<dd>サウンド</dd>
			</dl>
		</div>
	</div> -->
	<footer class="footer">
		<img src="images/header/logo.png" width="400" alt="">
		<div class="footer-social">
			<a href="https://twitter.com/Eclair_HTL?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="ja" data-show-count="false">Follow @Eclair_HTL</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fqpic.jp%2Feclair&width=72&layout=button&action=like&size=large&show_faces=true&share=false&height=65&appId" width="88" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
		<p>&copy;Team HTL in Qpic</p>
	</footer>
	</div><!-- navigation-wrapper -->

    <!-- BrowserSync -->
    <!-- <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname));
//]]></script> -->

    <!-- ShadowBox -->
    <link rel="stylesheet" type="text/css" href="shadowbox/shadowbox.css">
    <script type="text/javascript" src="shadowbox/shadowbox.js"></script>
    <script type="text/javascript">
    	Shadowbox.init();
    </script>

    <!-- CreateJS -->
	<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
	<!-- ParticleJS -->
	<script src="https://cdn.rawgit.com/ics-creative/ParticleJS/release/1.0.0/libs/particlejs.min.js"></script>

    <!-- Scripts -->
    <script src="js/script.js"></script>

    <!-- SweetScroll -->
    <script src="https://unpkg.com/sweet-scroll/sweet-scroll.min.js"></script>
    <script>
    	const sweetScroll = new SweetScroll({
  			trigger: "a[href^='#']",
  			offset: isPhone() ? -280 : -80,
  			duration: 500
		});
    </script>

    <!-- SVG Effect -->
    <svg height="0">
	<filter id="drop-shadow">
        <feGaussianBlur in="SourceAlpha" stdDeviation="4"></feGaussianBlur>
        <feColorMatrix result="matrixOut" in="offOut" type="matrix" values="1 0 0 0 0
                0 1 0 0 0
                0 0 1 0 0
                0 0 0 0.25 0"></feColorMatrix>
        <feOffset dx="0" dy="2" result="offsetblur"></feOffset>
        <feMerge>
            <feMergeNode></feMergeNode>
            <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
    </filter>
	</svg>
  </body>
</html>